.container__cart{
    background-color: #929;
    margin: 0;
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100%;
}
div.container__item{
    text-align: center;
}
a.volver__home{
text-align: center;
text-decoration: none;
justify-self: center;
align-self: center;
margin: 5em auto;
}
main.main__cart{
    height: 25vmax;
    display: flex;
    justify-content: center;
    background-color: #929;
}
.button {
    --bg: #000;
    --hover-bg: #ff90e8;
    --hover-text: #000;
    color: #fff;
    border: 1px solid var(--bg);
    border-radius: 4px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
    margin: .5em;
}

.button:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem,-0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
}

.button:active {
    transform: translate(0);
    box-shadow: none;
}
div.container__productos__cart{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    padding: 1em;
    width: 80%;
    }
div.container__pedido{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-around;
    align-items: center;
    margin: 1em;
    padding: 1em;
    width: 20%;
}
.container__componente__item{
    justify-content: center;
    align-items: center;
    display: flex;
}
div.container__producto__cart{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vmax;
    }
