.container__detalle{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #ff79b0;
    padding: 3vmax;
    font-size: 2vmax;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.spinner-border{
    width: 5em;
    height: 5em;
}
.boton__finalizar{
    text-decoration: none;
    font-size: 2vmax;
}
.cargando__producto{
    background-color: #ff79b0;
    color: #111;
    text-align: center;
    margin: 0;
    padding: 1em;
}
div.terminar__compra{
    height: 25vmax;
    display: flex;
    padding: 5vmax;
    justify-content: center;
    align-items: center;
    background-color: #ff79b0;
}
.card{
    background-color: rgba(79, 17, 127, 0.682);
    margin: 3vmax;
}
.itemNotFound{
    font-size: 4vmax;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 5vmax;
}
.container__error{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}
.volver__error{
    align-self: center;
    justify-self: center;
}
.itemCount{
    justify-content: center;
}