.container__detalle{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    background-color: #ff79b0;
    padding: 3vmax;
    font-size: 2vmax;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container__boton__comprar{
    margin: 1em;
    height: 1em;
}
.container__boton__comprar  a.button.botonComprar {
    text-decoration: none;
    font-size: 1vmax;
}
.boton__finalizar{
    text-decoration: none;
    font-size: 2vmax;
}
.cargando__producto{
    background-color: #ff79b0;
    color: #111;
    text-align: center;
    margin: 0;
    padding: 1em;
}
div.terminar__compra{
    height: 25vmax;
    display: flex;
    padding: 5vmax;
    justify-content: center;
    align-items: center;
    background-color: #ff79b0;
}