.nav_main{
    color: #222;
    width: 100%;
    background-color: #f228;
    align-items: center;
    display: flex;
}
.ul_main{
    display: flex;
    font: 1vmax sans-serif;
    color: #222;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
    flex-wrap: wrap;
}
.ul_main a{
    list-style: none;
    font-size: 1.5rem;
    text-decoration: none;
    color: #222;
}
.ul_main img#logo__brand{
    width: 15vmax;
    height: 10vmax;
}