.container__carrito{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container__carrito .icono__carrito img#logo__carrito{
    height: 3vmax;
    width: 3vmax;
    margin: 0.5 vmax;
}
.numero__carrito{
    font-size: 3vmax;
    margin: 0.5vmax;
}