div.container__cart__pedido{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2367;
    margin: 0;
    flex-direction: column;
    border: 2px black solid;
}
.product__list{
    font-size: 1.2vmax;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: .2em;
    padding: .2em;
    color: #fff;
}
.botones__compra{
    display: flex;
}
.container__buyer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.4vmax;
}
.buyer__input{
    font-size: 1.5vmax;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}