.titulo__principal{
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: #f44;
    color: #fff;
    padding: 1vmax;
    margin: 0;
}
.titulo__secundario{
    font-size: 2em;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f44;
    margin: 0;
    padding: 1vmax;
    

}