.container__contacto{
    text-align: center;
    font-size: 1.5em;
    background-color: #ff79b0;
    margin: 0;
    height: 25vmax;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container__contacto p{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vmax;
}