.nav_main{

    width: 100%;
    background-color: #9e00c5;
    align-items: center;
    display: flex;
}
.ul_main{
    display: flex;
    font: 1vmax sans-serif;
    color: #222;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
    flex-wrap: wrap;
}
.ul_main a{
    list-style: none;
    font-size: 2vmax;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    text-align: center;
}
.ul_main img#logo__brand{
    width: 15vmax;
    height: 10vmax;
}
ul.dropdown-menu{
    background-color: #9e00c5;
}