.nav_main{
    color: #222;
    width: 100%;
    background-color: #777;
    align-items: center;
    display: flex;
}
.ul_main{
    display: flex;
    font: 1vmax sans-serif;
    color: #33a;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
}
.ul_main li{
    list-style: none;
}